@media(max-width: 450px){
    section {
        width: 100%;
        height: 1000px;
        padding: 10px 0;
        position: relative;
        background-color: #010d23;
    }
    
    section h2 {
        margin: 0;
        font-size: 3em;
    }
    
    section.success {
        color: #fff;
    }
    
    /* seuarquivo.css */
    .sobre  {
       /* Adapte a fonte conforme necessário */
        font-size: 13px;
        line-height: 1.5;
        color:#010d23; /* Escolha a cor de texto desejada */
        /* Adicione mais estilos conforme necessário */
        margin-left: 50px;
        margin-right: 50px;
      }
    
      h2{
         /* Adapte a fonte conforme necessário */
        font-size: 25px;
        line-height: 1.5;
        color:#010d23;
      }
      
      .margem{
        margin-left: 10px;
      }

}